*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}
header
{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5) ), url(../4.png);
	height:50vh;
	background-image: cover;
	background-position: center;
}
.sublime
{
font-family: Century Gothic;

}